<div class="row">
    <div class="col-sm-12">
        <h3>Nominate</h3>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 nominate-user">
        <tag-input [ngModel]="[]"  placeholder="Another colleague" secondaryPlaceholder="Start nominating colleagues"  theme='dark' (onAdd)="onItemAdded($event)" (onRemove)="onItemRemoved($event)" [onlyFromAutocomplete]="true">
            <tag-input-dropdown theme='dark' [showDropdownIfEmpty]="true" [autocompleteItems]="users">
            </tag-input-dropdown>
        </tag-input>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-white post panel-shadow">

            <div class="post-description postbox">

                <textarea cols="5" rows="3" placeholder="Thank you very much for your help" class="form-control" [(ngModel)]="myblog">  </textarea>

                <div class="pull-right top-buffer-15">
                    <a (click)="addRecongnition()" class="btn btn-primary btn-lg">Appreciate</a>
                </div>

            </div>

        </div>
    </div>
</div>
<div class="row top-buffer-15">
    <div *ngFor="let recongnition of recongnitions" class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <ul class="nominate-user-list pull-left">
                    <li class="label label-default" *ngFor="let user of recongnition.users">
                        {{user.username}}
                    </li>
                </ul>
                <span class="pull-right text-muted font-12">{{recongnition.recognitionDate | date: 'dd/MM/yyyy'}}</span>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">

                <!--<div class="col-xs-2 text-center">
                    <i class="glyphicon glyphicon-star gi-3x"></i>
                </div>-->

                <p>{{recongnition.recognition}}</p>
                <label><span class="text-muted">by -</span> <span class="text-primary">{{recongnition.creator.username}}</span></label>



            </div>
            <div class="panel-footer">
                <my-comment [recognitionId]=recongnition._id></my-comment>
            </div>
        </div>
    </div>
</div>