<header class="navbar navbar-inner navbar-fixed-top">
    <nav class="container">
        <div class="navbar-header">
            <a routerLink="recognition">
                <span class="app-title">Labs Recognition System</span>
            </a>
        </div>
        <ul class="nav navbar-nav pull-right" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="feature">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="home">About</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="courses">Courses</a></li>
        </ul>
    </nav>
</header>