<div class="row">
  <div class="col-sm-12">
    <h3>Nominate</h3>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 nominate-user">
    <tag-input [ngModel]="selectedUsers" placeholder="Another colleague" secondaryPlaceholder="Start nominating colleagues" theme='dark'
      (onAdd)="onItemAdded($event)" (onRemove)="onItemRemoved($event)" [onlyFromAutocomplete]="true">
      <tag-input-dropdown theme='dark' [showDropdownIfEmpty]="true" [autocompleteItems]="users">
      </tag-input-dropdown>
    </tag-input>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-white post panel-shadow">
      <div class="post-description postbox">
        <textarea cols="5" rows="3" placeholder="Thank you very much for your help" class="form-control" [(ngModel)]="mynominationText">  </textarea>
        <div class="pull-right top-buffer-15">
          <a (click)="addRecongnition()" class="btn btn-primary btn-lg">Appreciate</a>
        </div>
      </div>
    </div>
  </div>
</div>
<my-recognition #child></my-recognition>