<div class="bottom-buffer-10">
  <a href="javascript:void(0);" class="pull-left"><i class="glyphicon glyphicon-comment"></i> {{commentCount}}</a>
  <a href="javascript:void(0);" class="pull-left"><i class="glyphicon glyphicon-thumbs-up"></i> {{likeCount}} </a>
  <a class="pull-right"><i class="glyphicon glyphicon-comment"></i> Comment</a>

  <a *ngIf="!alreadyLiked" (click)="postLikeCounts()" class="pull-right"><i class="glyphicon glyphicon-thumbs-up"></i> Like </a>
  <div class="clearfix"></div>
</div>

<div>
  <ul class="allcomment">
    <li *ngFor="let comment of allComment"> {{comment.comment}}
      <p class="font-12 text-muted no-margin-bottom top-buffer-5"> {{comment.CommentDate | date: 'dd/MM/yyyy'}} | by Vicky</p>
    </li>
  </ul>
</div>

<div class="clearfix"></div>
<div class="input-group">
  <input type="text" class="form-control" [(ngModel)]="myComment" name="myComment" placeholder="Write your comments">
  <a href="javascript:void(0);" class="input-group-addon primary" (click)="postAllComment()">Encourage</a>
</div>